In [36]:
import pandas as pd

def GetMLBats():
    url = "https://www.teamrankings.com/mlb/trends/ats_trends/"
    ats = pd.read_html(url,header=0)[0]
    return ats

def GetMLBoverund():
    url2 = "https://www.teamrankings.com/mlb/trends/ou_trends/"
    overund = pd.read_html(url2,header=0)[0]
    return overund

def GetMLBgames():
    url3 = "https://www.teamrankings.com/mlb/schedules/"
    games = pd.read_html(url3,header=0)[0]
    return games

In [12]:
#FINAL CODE

import pandas as pd

import datetime

def GetDate():
    now = datetime.datetime.now()
    print("Current date and time")
    print(now.strftime("%Y-%m-%d %H:%M"))
    return

url = "https://www.teamrankings.com/mlb/trends/ats_trends/"
ats = pd.read_html(url,header=0)[0]
    
url2 = "https://www.teamrankings.com/mlb/trends/ou_trends/"
overund = pd.read_html(url2,header=0)[0]

url3 = "https://www.teamrankings.com/mlb/schedules/"
games = pd.read_html(url3,header=0)[0]
matchups = games['Matchup']

ats["Cover_per"] = ats["Cover %"].str.replace('%', "")

ats['Cover_float'] = ats["Cover_per"].astype('float64')

overund["Over_per"] = overund["Over %"].str.replace('%', "")

overund['Over_float'] = overund["Over_per"].astype('float64')

yats = ats['Team'][ ats['Cover_float'] >= 60.0]

nats = ats['Team'][ ats['Cover_float'] <= 40.0]

yover = overund['Team'][ overund['Over_float'] >= 60.0]

yunder = overund['Team'][ overund['Over_float'] <= 40.0]


GetDate()
print("\n""Today's games are: ", "\n", matchups)

print("\n""You should bet the OVER on: ", "\n\n", yover)

print("\n""You should bet the UNDER on: ", "\n\n", yunder)

print("\n""You should bet the SPREAD on: ", "\n\n", yats)

print("\n""You should bet AGAINST the spread on: ", "\n\n", nats)

Current date and time
2019-05-07 14:13

Today's games are:
 0     #6 Philadelphia at #3 St. Louis
1         #9 Atlanta at #1 LA Dodgers
2       #8 Washington at #7 Milwaukee
3        #15 Arizona at #14 Tampa Bay
4        #12 NY Mets at #17 San Diego
5        #23 Seattle at #5 NY Yankees
6       #22 SF Giants at #10 Colorado
7       #13 Cincinnati at #20 Oakland
8       #27 Kansas City at #2 Houston
9            #28 Miami at #4 Chi Cubs
10       #26 Chi Sox at #16 Cleveland
11        #24 Texas at #19 Pittsburgh
12        #11 Boston at #30 Baltimore
13       #18 Minnesota at #25 Toronto
14       #21 LA Angels at #29 Detroit
Name: Matchup, dtype: object

You should bet the OVER on:

 0        Seattle
1        Chi Sox
2          Texas
3    Kansas City
Name: Team, dtype: object

You should bet the UNDER on:

 28       Toronto
29    Cincinnati
Name: Team, dtype: object

You should bet the SPREAD on:

 0      Arizona
1    St. Louis
2    Tampa Bay
Name: Team, dtype: object

You should bet AGAINST the spread on:

 26        Boston
27         Miami
28    LA Dodgers
29    Washington
Name: Team, dtype: object

In [7]:
display(nats)

26        Boston
27         Miami
28    Washington
29    LA Dodgers
Name: Team, dtype: object

In [39]:
ats

,Team,Run Line Record,Cover %,MOV,Run Line +/-,Cover_per,Cover_float
0,St. Louis,19-9-0,67.9%,1.1,1.1,67.9,67.9
1,Tampa Bay,19-9-0,67.9%,1.7,0.8,67.9,67.9
2,Arizona,19-10-0,65.5%,0.7,1.5,65.5,65.5
3,Texas,17-10-0,63.0%,0.4,1.7,63.0,63.0
4,LA Angels,18-11-0,62.1%,-0.2,0.2,62.1,62.1
5,Toronto,16-12-0,57.1%,0.4,0.7,57.1,57.1
6,Seattle,17-14-0,54.8%,0.5,0.8,54.8,54.8
7,Detroit,14-12-0,53.8%,-0.9,0.0,53.8,53.8
8,Chi Cubs,14-12-0,53.8%,1.0,0.5,53.8,53.8
9,NY Yankees,15-13-0,53.6%,1.3,0.2,53.6,53.6
10,NY Mets,15-13-0,53.6%,-0.7,-0.6,53.6,53.6
11,Cincinnati,15-13-0,53.6%,0.4,0.8,53.6,53.6
12,Cleveland,14-13-0,51.8%,0.0,-0.9,51.8,51.8
13,Kansas City,15-14-0,51.7%,-0.8,0.2,51.7,51.7
14,Minnesota,13-13-0,50.0%,1.1,0.8,50.0,50.0
15,Philadelphia,14-14-0,50.0%,0.5,-0.6,50.0,50.0
16,Milwaukee,15-15-0,50.0%,-0.1,-0.1,50.0,50.0
17,Colorado,14-15-0,48.3%,-0.4,-0.2,48.3,48.3
18,San Diego,14-15-0,48.3%,-0.3,-0.6,48.3,48.3
19,Atlanta,13-15-0,46.4%,0.2,-0.0,46.4,46.4
20,Chi Sox,12-14-0,46.2%,-0.5,-0.0,46.2,46.2
21,Pittsburgh,12-14-0,46.2%,-0.8,-1.0,46.2,46.2
22,Oakland,14-17-0,45.2%,-0.3,-0.6,45.2,45.2
23,SF Giants,12-17-0,41.4%,-0.7,0.5,41.4,41.4
24,Miami,11-17-0,39.3%,-2.1,-0.6,39.3,39.3
25,LA Dodgers,12-19-0,38.7%,1.0,-0.3,38.7,38.7
26,Houston,11-18-0,37.9%,0.9,-0.6,37.9,37.9
27,Washington,10-17-0,37.0%,-0.0,-0.8,37.0,37.0
28,Baltimore,11-19-0,36.7%,-2.1,-0.7,36.7,36.7
29,Boston,9-20-0,31.0%,-1.1,-2.2,31.0,31.0

In [40]:
games

,Rank,Hotness Score,Matchup,Time,Location
0,1,92.6,#2 St. Louis at #8 Washington,7:05 PM,Nationals Park
1,2,89.0,#11 Colorado at #7 Milwaukee,7:40 PM,Miller Park
2,3,87.6,#4 NY Yankees at #16 Arizona,9:40 PM,Chase Field
3,4,87.1,#12 Cincinnati at #10 NY Mets,7:10 PM,Citi Field
4,5,85.3,#3 Houston at #19 Minnesota,7:40 PM,Target Field
5,6,83.8,#18 San Diego at #9 Atlanta,7:20 PM,SunTrust Park
6,7,80.6,#1 LA Dodgers at #22 SF Giants,9:45 PM,Oracle Park
7,8,77.8,#6 Chi Cubs at #24 Seattle,10:10 PM,T-Mobile Park
8,9,76.5,#21 Oakland at #13 Boston,7:10 PM,Fenway Park
9,10,71.8,#29 Detroit at #5 Philadelphia,7:05 PM,Citizens Bank Park
10,11,67.7,#23 Toronto at #20 LA Angels,10:07 PM,Angel Stadium of Anaheim
11,12,67.1,#17 Pittsburgh at #25 Texas,8:05 PM,Globe Life Park in Arlington
12,13,65.9,#14 Cleveland at #27 Miami,7:10 PM,Marlins Park
13,14,63.7,#15 Tampa Bay at #28 Kansas City,8:15 PM,Kauffman Stadium
14,15,50.5,#30 Baltimore at #26 Chi Sox,8:10 PM,Guaranteed Rate Field

In [52]:
df = pd.DataFrame({'countries':['US','UK','Germany','China']})
countries = ['UK','China']

In [54]:
print(df)

  countries
0        US
1        UK
2   Germany
3     China

In [55]:
countries

['UK', 'China']

In [53]:
df.countries.isin(countries)

0    False
1     True
2    False
3     True
Name: countries, dtype: bool

In [59]:
team = ats['Team']

In [3]:
ats['Team'].isin(games['Matchup'])

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
Name: Team, dtype: bool